AI_AGENT_EMAIL=recent.eagleeye@gmail.com
GOOGLE_CHROME_PROFILE_DIR=ai_meet_chrome_profile
MEET_MIC_DEVICE_NAME=CABLE Output
MEET_SPEAKER_DEVICE_NAME=CABLE In 16ch
PYTHON_STT_INPUT_KEYWORD=CABLE Out 16ch

OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL_NAME=qwen2.5:3b
STT_MODEL_NAME=base

AUDIO_SECONDS=15
CONFIRMATION_AUDIO_SECONDS=5
AUTO_RECORD_DELAY_SECONDS=1.0
SAMPLE_RATE=16000
TEMP_AUDIO_FILE=candidate_answer.wav
REQUEST_TIMEOUT=180

BANGLA_VOICE=bn-BD-NabanitaNeural
ENGLISH_VOICE=en-US-AriaNeural
